1. Write a lambda function to rearrange positive and negative numbers in a given list

In [1]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
resulting_list= list(filter(lambda x:x>0,original_list)) + sorted(list(filter(lambda x:x<0,original_list)))
resulting_list

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

2. Create a new dataframe using week_11/temperatures/temperature.csv file from last class. It should have the datetime column and one of the cities.Create a new boolean column called is_freezing that indicates if thetemperature is at or below freezing. Use a lambda to create this column. Is there a better way to do this than with a lambda?

In [2]:
import pandas as pd
import numpy as np
import time

In [3]:

city = pd.read_csv('temperature.csv', parse_dates=True, index_col=['datetime'],usecols=[0,30])
city

                         Boston
datetime
2012-10-01 12:00:00         NaN
2012-10-01 13:00:00  287.170000
2012-10-01 14:00:00  287.186092
2012-10-01 15:00:00  287.231672
2012-10-01 16:00:00  287.277251
...                         ...
2017-11-29 20:00:00  288.080000
2017-11-29 21:00:00  286.020000
2017-11-29 22:00:00  283.940000
2017-11-29 23:00:00  282.170000
2017-11-30 00:00:00  280.650000

[45253 rows x 1 columns]

In [4]:
start_time = time.time()
city["is_freezing"]=city["Boston"].apply(lambda x: True if x < 273 else False)
end_time = time.time()
elapsed_time = end_time - start_time
print(elapsed_time)
city

0.03286480903625488

                         Boston  is_freezing
datetime
2012-10-01 12:00:00         NaN        False
2012-10-01 13:00:00  287.170000        False
2012-10-01 14:00:00  287.186092        False
2012-10-01 15:00:00  287.231672        False
2012-10-01 16:00:00  287.277251        False
...                         ...          ...
2017-11-29 20:00:00  288.080000        False
2017-11-29 21:00:00  286.020000        False
2017-11-29 22:00:00  283.940000        False
2017-11-29 23:00:00  282.170000        False
2017-11-30 00:00:00  280.650000        False

[45253 rows x 2 columns]

np.select()& np.where() would be a better way to do this than lamba

In [5]:
start_time = time.time()
conditions = [
    (city['Boston']<273),
    (city['Boston']>273),
]
values = [True,False]
city['is_freezing_b'] = np.select(conditions, values)
end_time = time.time()
elapsed_time = end_time - start_time
print(elapsed_time)

0.015160083770751953

In [6]:
city.sample(5)

                     Boston  is_freezing  is_freezing_b
datetime
2016-07-15 07:00:00  295.84        False              0
2014-05-31 21:00:00  289.71        False              0
2013-12-28 12:00:00  269.48         True              1
2017-09-08 06:00:00  286.73        False              0
2013-01-11 04:00:00  279.95        False              0

In [7]:
start_time = time.time()
city["is_freezing_c"]=np.where(city['Boston']<273, True, False)
end_time = time.time()
elapsed_time = end_time - start_time
print(elapsed_time)

0.001260995864868164

np.select()& np.where() took less time compared to lambda function