In [45]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

# 1. In markdown, describe KNN in your own words.

KNN is a model that classifies data points based on the points that are most similar to it. It uses test data to make an “educated guess” on what an unclassified point should be classified as.

# 2. Using the KNN example from class, write a function that finds the optimal value for k. You should iterate over a range of values and return the k and the score when the accuracy score is maximized. Be sure to only use odd values.

In [46]:
def optimal(X_train, X_test, y_train, y_test,bounds=20):
    max_accuracy = 0
    max_k = 0
    for n in range(1, bounds, 2):
        knn = KNeighborsClassifier(n_neighbors = n)
        knn.fit(X_train, y_train)
        accuracy_score = knn.score(X_test, y_test) 
        if accuracy_score > max_accuracy:
            max_k = n
            max_accuracy = accuracy_score
    return max_k

In [47]:
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [48]:
X = df.drop('Outcome', axis=1)
y = df['Outcome']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [49]:
#Standardize values (X_train, X_test)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [50]:
optimal(X_train, X_test, y_train, y_test)

17

In [51]:
optimal(X_train, X_test, y_train, y_test,50)

27

In [52]:
optimal(X_train, X_test, y_train, y_test,100)

65

In [54]:
optimal(X_train, X_test, y_train, y_test,120)

65

In [53]:
optimal(X_train, X_test, y_train, y_test,150)

65

In [56]:
optimal(X_train, X_test, y_train, y_test,400)

65

The optimal value for K is 65 when the data is split into 80/20.

# 3. How did the panel influence your thoughts about working in tech, specifically work in the data realm? Discuss with your group and summarize your thoughts in under 250 words.

It just made me realize a lot of companies are not quite ready for Data Science. The work focus is on data wrangling: data preparation, cleaning and data quality assurance. I was always thought the data science field was very much focused on building models which I found to be intimidating. 
It was interesting to hear about turnover rate for data science roles. This is something they usually don't tell you.