In [1]:
import numpy as np
import pandas as pd

import math
import statistics
from scipy import stats

In [2]:
belize = pd.read_csv("belize_airbnb_listings.csv")
belize.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364

In [5]:
belize.agg({'price' : ['mean', 'median',np.std]})

             price
mean    357.102289
median  220.000000
std     563.124825

The mean is greater than the median which means distribution is positively skewed.
Std greater than means there's a high variation. Not clustered around the mean