In [72]:
import numpy as np
import pandas as pd

### Write a function that calculates the dot product manually. It should accept two vectors and perform that calculation. Be sure to use try except and error handling for basic issues that might occur.

In [68]:
def dotProduct(a, b):
    try:
        if len(a) == len(b):
            sum= 0
            for i,j in zip(a,b):
                sum += i *j
            return sum
    except TypeError:
        return "Invalid data type"
    except Exception as e:
        return str(e)

In [69]:
dotProduct([2,0,0], [2, 0, 0])

4

In [70]:
dotProduct(1, [1, 0, 0])

'Invalid data type'

### In a markdown section in your notebook, explain what one hot encoding is and why we use it. Then, manually calculate a one-hot encoding for the Belize_Airbnb_listings.csv neighborhood_group column and merge it back into the dataframe. Note: manually means donâ€™t use scikit learn or keras or get_dummies

In [90]:
belize_df = pd.read_csv("belize_airbnb_listings.csv")
data = belize_df['neighbourhood_group'].unique()
data

array(['Belize', 'Stann Creek', 'Toledo', 'Cayo', 'Corozal',
       'Orange Walk'], dtype=object)

In [96]:
category_to_int = dict((n, i) for i, n in enumerate(data)) 
int_to_category = dict((i, n) for i, n in enumerate(data)) 
print(category_to_int)
print(int_to_category)

{'Belize': 0, 'Stann Creek': 1, 'Toledo': 2, 'Cayo': 3, 'Corozal': 4, 'Orange Walk': 5}
{0: 'Belize', 1: 'Stann Creek', 2: 'Toledo', 3: 'Cayo', 4: 'Corozal', 5: 'Orange Walk'}

In [92]:
integer_encoded = [category_to_int[category] for category in belize_df['neighbourhood_group']]
print(integer_encoded[:10])

[0, 0, 0, 1, 0, 0, 2, 1, 3, 3]

In [94]:
onehot_encoded = list()

for value in integer_encoded:
    neighborhood = [0 for _ in range(len(neighbourhood))]
    neighborhood[value] = 1
    onehot_encoded.append(neighborhood)
print(onehot_encoded[:10])

[[1, 0, 0, 0, 0, 0], [1, 0, 0, 0, 0, 0], [1, 0, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0], [1, 0, 0, 0, 0, 0], [1, 0, 0, 0, 0, 0], [0, 0, 1, 0, 0, 0], [0, 1, 0, 0, 0, 0], [0, 0, 0, 1, 0, 0], [0, 0, 0, 1, 0, 0]]

In [99]:
nbh_encoded = pd.DataFrame(onehot_encoded).rename(columns=int_to_category)
nbh_encoded.head()

   Belize  Stann Creek  Toledo  Cayo  Corozal  Orange Walk
0       1            0       0     0        0            0
1       1            0       0     0        0            0
2       1            0       0     0        0            0
3       0            1       0     0        0            0
4       1            0       0     0        0            0

In [103]:
belize_encoded = pd.concat([belize_df, nbh_encoded], axis=1)
belize_encoded.sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Belize,Stann Creek,Toledo,Cayo,Corozal,Orange Walk
39,1134718,"Bay Breezes apt #1, Caye Caulker",911311,Hilda,Belize,Belize Islands,17.73951,-88.03293,Entire home/apt,109,...,3/14/2020,1.32,10,365,1,0,0,0,0,0
436,14121095,Casa En La Playa Luxury villa,9631757,Pista,Belize,Belize Islands,17.92616,-87.95821,Entire home/apt,1166,...,11/12/2020,1.08,9,364,1,0,0,0,0,0
1157,24664327,SeaClusion @ TUTO a private family compound,186390923,George,Belize,Belize Islands,18.01283,-87.90849,Entire home/apt,403,...,3/21/2020,1.48,5,260,1,0,0,0,0,0
1387,28766688,Conch Shell Inn 6,21484509,Kit,Belize,Belize Islands,17.92236,-87.96013,Private room,141,...,3/22/2020,1.68,6,365,1,0,0,0,0,0
300,9545048,BEST LOCATED SPOT,48970192,Lucy,Cayo,Cayo,17.15136,-89.07465,Private room,81,...,1/6/2019,0.07,1,365,0,0,0,1,0,0

In [137]:
def crossProduct(a,b):
    ans =[]
    try:
        if len(a) == len(b) and len(a)==3:
            ans.append(a[1] * b[2] - a[2] * b[1])
            ans.append(a[2] * b[0] - a[0] * b[2])
            ans.append(a[0] * b[1] - a[1] * b[0])
        elif len(a) == len(b) and len(a)==2:
            ans.append(a[0] * b[1] - a[1] * b[0])
        
        if len(ans)==0 :
            raise Exception("The dimensions has to be 2 or 3. The vectors must be same length")
        return ans
    
    except TypeError:
        return "Invalid data type"
    except Exception as e:
        return str(e)

In [138]:
print(crossProduct([1,0], [0, 1]))
print(crossProduct([1], [0, 1]))

[1]
The dimensions has to be 2 or 3. The vectors must be same length