In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
df = pd.read_csv("tiktok.csv",parse_dates=True,header=1, index_col='Week')
df.head()

            tiktok: (United States)
Week
2018-12-09                        1
2018-12-16                        2
2018-12-23                        1
2018-12-30                        2
2019-01-06                        2